<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="/home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Inicio
                </span>
            </a>
        </li>
        <li *ngIf="admin" class="has-subnav">
            <a routerLink="usuarios">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Usuarios
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a routerLink="mis-turnos">
                <i class="fa fa-clock-o fa-2x"></i>
                <span class="nav-text">
                    Mis turnos
                </span>
            </a>
        </li>
        <li *ngIf="!admin" class="has-subnav">
            <a href="#">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Mis datos
                </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>