<nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-2">
                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" routerLink="home">
                        <img class="logo" src="../../../assets/clinica-logo2.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf="usuario.value == null" class="buttons-login-container">
            <button class="button-24" role="button" routerLink="/login">Log in</button>
            <button class="button-24" role="button" routerLink="/register">Register</button>
        </div>
        <div *ngIf="usuario.value != null">
            <div class="btn-group">
                <button class="buttonDropDown btn btn-secondary btn-lg dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="img" src="{{usuario.value.imageURL1}}">
                    {{usuario.value.nombre}} {{usuario.value.apellido}}
                </button>
                <ul class="dropdown-menu">
                    <li *ngIf="usuario.value.rol != 'admin'"><button class="dropdown-item" routerLink="/mi-perfil">Mi
                            perfil</button></li>
                    <li *ngIf="usuario.value.rol != 'admin'">
                        <hr style=" color: white;" class="dropdown-divider">
                    </li>
                    <li><button class="dropdown-item" (click)="onClickLogOut()"><i class="fa fa-power-off"></i>
                            Logout</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>