<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-2">
                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" routerLink="home">
                        <img class="logo" src="../../../assets/clinica-logo2.jpg" alt="">
                    </a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link active" aria-current="page" routerLink="home">
                        <i class="bi bi-house-fill me-2"></i>Home
                    </a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link"><i class="bi bi-people-fill me-2"></i>About</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link"><i class="bi bi-telephone-fill me-2"></i>Contact</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" routerLink="/home/usuarios"><i
                            class="bi bi-telephone-fill me-2"></i>Usuarios</a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link"><i class="bi bi-telephone-fill me-2"></i>Perfil</a>
                </li>
            </ul>
        </div>
        <div *ngIf="usuario.value == null" class="buttons-login-container">
            <button class="button-24" role="button" routerLink="/login">Log in</button>
            <button class="button-24" role="button" routerLink="/register">Register</button>
        </div>
        <div *ngIf="usuario.value != null">
            <span class="logout-text">{{usuario.value.nombre}} {{usuario.value.apellido}} </span>
            <button (click)="onClickLogOut()" class="button-login"><i class="fa fa-power-off"></i></button>
        </div>
    </div>
</nav>