<p-dialog header="Agregando turno..." [(visible)]="display" [draggable]="false" [closable]="false"
    [style]="{width: '30vw', height:'55vh'}">
    <ng-template pTemplate="content row">
        <hr>
        <div class="crearTurno">
            <div class="contenedorEspecialistas" *ngIf="especialistaSeleccionado == null">
                <h3 class="d-flex flex-row justify-content-center alig-items-center mb-3">Seleccione especialista
                </h3>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" *ngFor="let especialista of especialistas"
                        (click)="selectEspecialista(especialista)">
                        <div class="card">
                            <img src="{{especialista.imageURL1}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{especialista.nombre}} {{especialista.apellido}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerEspecialidades" *ngIf="especialistaSeleccionado != null && especialidadSeleccionada == ''">
            <h3 class="d-flex flex-row justify-content-center alig-items-center mb-3">Seleccione especialidad</h3>
            <div class="row row-cols-1 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="card" (click)="SetEspecialidad(especialistaSeleccionado.especialidad)">
                        <img src="{{especialistaSeleccionado.especialidad | EspecialidadFoto}}" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{especialistaSeleccionado.especialidad}}</h5>
                            <p class="card-text">Descripcion de especialidad</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedorFechas" *ngIf="especialidadSeleccionada != ''">
            <div class="row justify-content-center text-aling center">
                <div class="col-6  alig-items-center">
                    <h3 class="d-flex flex-row justify-content-center alig-items-center mb-3">Seleccione dia</h3>
                    <p-dropdown [options]="dias" [(ngModel)]="diaSelected" optionValue="value" optionLabel="name"
                        placeholder="Dias" [style]="{width: '100%'}"></p-dropdown>
                </div>
                <div class="col-6  alig-items-center">
                    <h3 class="d-flex flex-row justify-content-center alig-items-center mb-3">Seleccione fecha</h3>
                    <p-dropdown [options]="horas" [(ngModel)]="horaSelected" optionValue="value" optionLabel="name"
                        placeholder="Hora" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="AgregarTurno()" label="Agregar" styleClass="p-button-text">
        </p-button>
        <p-button icon="pi pi-times" (click)="onClose()" label="Cancelar" styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>