<div class="container">
    <app-loading *ngIf="cargando"></app-loading>
    <app-review *ngIf="mostrarReview" [review]="turnoSelected" (close)="CloseReiew()"></app-review>
    <app-question *ngIf="mostrarQuestion" (close)="UpdateTurno($event)"></app-question>
    <div class="container">
        <h2>Turnos de la clinica</h2>
        <hr>
        <div class="row">
            <div class="col-3 d-flex">
                <input type="text" (change)="onFilter($event)" class="searcher" placeholder="Buscar por ...">
            </div>
        </div>
        <div *ngIf="error != ''" class="alert alert-danger mt-2" (click)="onClickError()" role="alert">
            {{error}}
        </div>
        <div class="row mt-2">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-2">Usuario</div>
                    <div class="col col-2">Fecha</div>
                    <div class="col col-2">Hora</div>
                    <div class="col col-2">Especialista </div>
                    <div class="col col-2"><i class="fa fa-pencil"></i></div>
                    <div class="col col-2">Estado</div>
                    <div class="col col-2">Accion</div>
                </li>
                <li class="table-row" *ngFor="let turno of turnos">
                    <div class="col col-2">{{turno.usuario.nombre}} {{turno.usuario.apellido}}</div>
                    <div class="col col-2">{{turno.fecha}}</div>
                    <div class="col col-2">{{turno.hora}}</div>
                    <div class="col col-2">{{turno.especialista.nombre}} {{turno.especialista.apellido}}</div>
                    <div class="col col-2"><button (click)="viewReview(turno.resenia)" class="btn-review"> Reseña <i
                                class="fa fa-pencil"></i></button>
                    </div>
                    <div class="col col-2"
                        [class.cancelado]="turno.estado == 'cancelado' || turno.estado == 'rechazado'"
                        [class.aceptado]="turno.estado == 'aceptado'" [class.completado]="turno.estado == 'completado'"
                        [class.pendiente]="turno.estado == 'pendiente'">
                        {{turno.estado}}</div>
                    <div *ngIf="canCencel(turno)" class="col col-2">
                        <button class="button-delete-turno" (click)="wantToCancel(turno)">
                            <i class="fa fa-ban"></i>
                        </button>
                    </div>
                    <div *ngIf="!canCencel(turno)" class="col col-2">
                        <button style="color: grey;" disabled class="button-delete-turno"
                            (click)="wantToCancel(turno)"><i class="fa fa-ban"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>