<div class="container">
    <p-toast position="top-right" key="c" [baseZIndex]="5000"></p-toast>
    <app-loading *ngIf="cargando"></app-loading>
    <app-add-turno *ngIf="agregandoTurno" (close)="Closeform()" (error)="onClickError($event)"></app-add-turno>
    <app-review *ngIf="mostrarReview" [review]="turnoSelected" (close)="CloseReiew()"></app-review>
    <app-question *ngIf="mostrarQuestion" (close)="UpdateTurno($event)" [estadoUpdate]="estadoUpdate"></app-question>
    <app-finaliazar-turno *ngIf="displayDialog" [turnoAFinalizar]="UpdateTurnoSelected" (error)="onClickError($event)"
        (close)="CloseFinalizarForm()">
    </app-finaliazar-turno>
    <div class="container">
        <h2>Mis turnos</h2>
        <hr>
        <div class="row">
            <div *ngIf="user.rol == 'paciente'" class="col-6 mb-3">
                <button class="button-add-turno" (click)="OpenForm()">
                    <i class="fa fa-plus"> Agregar turno</i></button>
            </div>
            <span class="p-input-icon-left d-flex justify-content-end col-6">
                <i class="pi pi-search" style="margin-left: 65%;"></i>
                <input type="text" pInputText (change)="onFilter($event)" placeholder="Search" />
            </span>
        </div>
        <div *ngIf="error != ''" class="alert alert-danger mt-2" role="alert">
            {{error}}
        </div>
        <div class="row mt-5">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-2">Fecha</div>
                    <div class="col col-2">Hora</div>
                    <div *ngIf="user.rol == 'paciente'" class="col col-2">Especialista </div>
                    <div *ngIf="user.rol == 'especialista'" class="col col-2">Paciente </div>
                    <div class="col col-2"><i class="fa fa-pencil"></i></div>
                    <div class="col col-2">Estado</div>
                    <div class="col col-2">Accion</div>
                </li>
                <li class="table-row" *ngFor="let turno of turnos">
                    <div class="col col-2">{{turno.fecha}}</div>
                    <div class="col col-2">{{turno.hora}}</div>
                    <div *ngIf="user.rol == 'paciente'" class="col col-2">{{turno.especialista.nombre}}
                        {{turno.especialista.apellido}}</div>
                    <div *ngIf="user.rol == 'especialista'" class="col col-2">{{turno.usuario.nombre}}
                        {{turno.usuario.apellido}}</div>
                    <div class="col col-2"><button (click)="viewReview(turno.resenia)" class="btn-review"> Reseña <i
                                class="fa fa-pencil"></i></button>
                    </div>
                    <div class="col col-2"
                        [class.cancelado]="turno.estado == 'cancelado' || turno.estado == 'rechazado'"
                        [class.aceptado]="turno.estado == 'aceptado'" [class.completado]="turno.estado == 'completado'"
                        [class.pendiente]="turno.estado == 'pendiente'">
                        {{turno.estado}}</div>
                    <div *ngIf="user.rol == 'paciente'" class="col col-2">
                        <button class="button-delete-turno" (click)="ChangeStateTurno('cancelar',turno)"><i
                                class="fa fa-ban"></i></button>
                    </div>
                    <div *ngIf="user.rol == 'especialista'" class="col col-2">
                        <button *ngIf="turno.estado != 'cancelado' && turno.estado != 'completado'"
                            class="button-delete-turno" style="color: green;"
                            (click)="ChangeStateTurno('aceptar',turno)"><i class="fa fa-check"></i></button>
                        <button *ngIf="turno.estado != 'cancelado' && turno.estado != 'completado'"
                            class="button-delete-turno" (click)="ChangeStateTurno('rechazar',turno)"><i
                                class="fa fa-close"></i></button>
                        <button *ngIf="turno.estado != 'cancelado' && turno.estado != 'completado'"
                            class="button-delete-turno" (click)="ChangeStateTurno('cancelar',turno)"><i
                                class="fa fa-ban"></i></button>
                        <button *ngIf="turno.estado != 'cancelado' && turno.estado != 'completado'"
                            class="button-delete-turno" style="color:white; background-color:blue ;"
                            (click)="ShowFinalizarForm(turno)">Finalizar</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>