<div class="contenedor">
    <div class="card__container">
        <div class="card">
            <div class="card__content">
                <h3 class="card__header">Cuidado!</h3>
                <p class="card__info">Desea modificiar el turno?</p>
                <textarea *ngIf="estadoUpdate != 'aceptado'" cols="30" rows="10" class="inputResenia"
                    placeholder="ingrese un comentario" [(ngModel)]="resenia"
                    [ngModelOptions]="{standalone: true}"></textarea>
                <button class="card__button" (click)="DeleteTurno(true)">Aceptar</button>
                <button class="card__button" (click)="DeleteTurno(false)">Cancelar</button>
                <div *ngIf="error" class="alert alert-danger mt-1" role="alert">
                    El comentario debe tener al menos 15 caracteres.
                </div>
            </div>
        </div>
    </div>
</div>