@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

.contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
}

.card {
    width: 70%;
    height: 70%;
    text-align: center;
    background: #333333;
    border-radius: 10px;
    box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
    margin-left: 210%;
    margin-top: 30%;
    font-size: x-large;


    &__container {
        display: grid;
        width: 100%;
        height: 35%;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        color: white;
    }

    &__content {
        width: 90%;
        height: 95%;
        background: #4e4e4e;
        margin: 10px auto;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 16px 16px 44px #0a0a0a,
            -16px -16px 44px #282a28;
    }

    &__header {
        text-transform: uppercase;
        font-size: 20px;
        margin: 40px auto;
    }
}

.card__button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
    border: 2px transparent;
    font-size: large;
}

.inputResenia {
    width: 90%;
    height: 35%;
    color: white;
    background: #4e4e4e;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
}

.card__button:hover {
    background-color: rgba(77, 109, 168, 0.733);
    transition: 0.5s;
}