<div class="login">
    <app-loading *ngIf="cargando"></app-loading>
    <div class="form">
        <div *ngIf="!rolSelected" class="row container-img">
            <div class="col-6 mb-4">
                <label for="paciente">Paciente</label>
                <button id="paciente"><img class="btn-img" src="../../../assets/logo-paciente.jpg" alt=""
                        (click)="obtenerRol('paciente')"></button>
            </div>
            <div class="col-6 mb-4">
                <label for="especialista">Especialista</label>
                <button id="especialista"><img class="btn-img" src="../../../assets/logo-espcialista.png"
                        (click)="obtenerRol('especialista')" alt=""></button>
            </div>
            <div class="col-12" *ngIf="admin == true">
                <label for="admin">Admin</label>
                <button id="admin"><img class="btn-img" src="../../../assets/logo-admin.png"
                        (click)="obtenerRol('admin')" alt=""></button>
            </div>
        </div>

        <form *ngIf="rolSelected" [formGroup]="registerForm" class="login-form">
            <span class="material-icon">Register</span>

            <input type="text" placeholder="DNI" formControlName="DNI" [class.is-invalid]="isNotValidField('DNI')"
                [class.is-valid]="!isNotValidField('DNI') && this.f['DNI'].touched" />
            <div class="invalid-feedback">{{getErrorMessage('DNI')}}</div>

            <input type="text" placeholder="Nombre" formControlName="nombre"
                [class.is-invalid]="isNotValidField('nombre')"
                [class.is-valid]="!isNotValidField('nombre') && this.f['nombre'].touched" />
            <div *ngIf="isNotValidField('nombre')" class="invalid-feedback">{{getErrorMessage('nombre')}}</div>

            <input type="text" placeholder="Apellido" formControlName="apellido"
                [class.is-invalid]="isNotValidField('apellido')"
                [class.is-valid]="!isNotValidField('apellido') && this.f['apellido'].touched" />
            <div *ngIf="isNotValidField('apellido')" class="invalid-feedback">{{getErrorMessage('apellido')}}</div>

            <input type="number" placeholder="Edad" formControlName="edad" [class.is-invalid]="isNotValidField('edad')"
                [class.is-valid]="!isNotValidField('edad') && this.f['edad'].touched" />
            <div *ngIf="isNotValidField('edad')" class="invalid-feedback">{{getErrorMessage('edad')}}</div>

            <input *ngIf="rol == 'paciente'" type="text" placeholder="Obra Social" formControlName="obraSocial"
                [class.is-invalid]="isNotValidField('obraSocial')"
                [class.is-valid]="!isNotValidField('obraSocial') && this.f['obraSocial'].touched" />
            <div *ngIf="isNotValidField('obraSocial')" class="invalid-feedback">{{getErrorMessage('obraSocial')}}</div>

            <input *ngIf="rol == 'especialista'" type="text" placeholder="Especialidad" formControlName="especialidad"
                [class.is-invalid]="isNotValidField('especialidad')"
                [class.is-valid]="!isNotValidField('especialidad') && this.f['especialidad'].touched" />
            <div *ngIf="isNotValidField('especialidad')" class="invalid-feedback">{{getErrorMessage('especialidad')}}
            </div>

            <input type="text" placeholder="Email" formControlName="email" [class.is-invalid]="isNotValidField('email')"
                [class.is-valid]="!isNotValidField('email') && this.f['email'].touched" />
            <div *ngIf="isNotValidField('email')" class="invalid-feedback">{{getErrorMessage('email')}}</div>
            <div *ngIf="f['email'].errors?.['emailVerified']" class="invalid-feedback">Email already in use.</div>

            <input type="password" placeholder="Contraseña" [class.is-invalid]="isNotValidField('password')"
                [class.is-valid]="!isNotValidField('password') && this.f['password'].touched"
                formControlName="password" />
            <div *ngIf="isNotValidField('password')" class="invalid-feedback">{{getErrorMessage('password')}}</div>

            <input #file type="file" accept="image/*" (change)="onChangeFile()" placeholder="Seleccione una imagen" />

            <div *ngIf="error != ''" Class="form" style="color: red;">{{error}}</div>
            <div class="mb-3">
                <p CustomCaptcha></p>
            </div>

            <button (click)="submit()" [disabled]="registerForm.invalid">Register</button>
            <a class="register" routerLink="/login">Already have an account?</a>
        </form>
    </div>
</div>