<div class="loading-overlay">
    <p-dialog header="Reseña" visible="true">
    </p-dialog>
    <button type="button" (click)="closeReview()" icon="pi pi-info-circle" label="Show"></button>
    <p-dialog header="Reseña" visible=" true" [style]="{width: '20vw'}" [closable]="false">
        <p>{{review}}</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="closeReview()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>